/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    background: #fff;
    color: rgb(34, 34, 34);
    text-align: center;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px;
    gap: 16px;
    max-width: 1440px;
}

.course-segments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 18px;
}


.course-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 18px;
}

.folder-title {
    padding:18px;
    background-color: 	#353935;
    color: white;
    -webkit-box-shadow: 0px 5px 3px 0px #000000; 
    box-shadow: 0px 5px 3px 0px #000000;
}

#nav-bar {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 12px;
    max-width: 600px;
}



a {
    cursor: pointer;
    color: rgb(34, 34, 34);
    border: 2px solid black;
    padding: 8px;
    border-radius: 4px;
}


a:visited {
    color: rgb(34, 34, 34);
}




/* @media media type and (condition: breakpoint) {
  // CSS rules
} */


@media (max-width: 480px) {

    /* Styles for viewports between 0 and 480px (inclusive) */
    /* .text {
        font-size: 16px;
    } */
}

/* and (max-width: 1024px) */

@media screen and (min-width: 768px)  {
    /* Styles for viewports between 480px and 768px (inclusive) */
    .course-section {
        border: 1px solid black;
        width: 75%;
        padding: 18px;
        margin-top: 18px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 48px;
        grid-row-gap: 24px;
    }



    .course-section div {
        border: 1px solid black;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;

    }

    .course-section a {
        border: none;
        cursor: pointer;
        color: rgb(34, 34, 34);
        font-size: 24px;
        

    }
}



@media screen and (min-width: 480.2px) and (max-width: 767.99px) {
    /* Styles for viewports between 480px and 768px (inclusive) */
    .course-section {
        border: 1px solid black;
        width: 100%;
        padding: 18px;
        margin-top: 18px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .course-section div {
        border: 1px solid black;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;

    }

    .course-section a {
        border: none;
        cursor: pointer;
        color: rgb(34, 34, 34);
        

    }
}




